*, *::before, *::after {
    box-sizing: border-box;
 }

 body {
    font-family: sanserif;
    font-size: 1em;
    color: #333;
 }

 h1 {
   font-size: 1.4em;
 }


 a {
    text-decoration: none;
    color: inherit;
 } 

 /* Layout */
 .layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }

 .layout_content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex: 1;
    display: table;
 }

 /* Sidebar */
 .sidebar_trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
 }

 .sidebar_trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
 }
 
 .sidebar_trigger > div > div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
 }
 
 
 .sidebar_trigger > div {
     position: absolute;
     top: 20px;
     left: 20px;
 }

 .sidebar_nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #070D59;
    color: rgba(255, 255, 255, 0.7);
 }

 .sidebar_nav:hover,
 .sidebar_nav:focus,
 .sidebar_trigger:focus + .sidebar_nav,
 .sidebar_trigger:hover + .sidebar_nav {
    left: 0;
 }

 .sidebar_nav ul {
    padding: 0;
 }

 .layout_sidebar{
    position: relative;
 }

 .sidebar_nav ul li {
    width: 90%;
    margin-left: 5%;
    list-style-type: none;
    border-radius: 15px;
 }

 .sidebar_nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
 }

 .sidebar_nav-link > div {
    display: inline-table;
 }

 .sidebar_nav-link > em {
    display: inline-block;
 }

 .sidebar_nav-link > div > span {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    padding-right: 12px;
    padding-bottom: 10px;
 }

 .sidebar_nav-link > div > p > font {
    color: white;
    font-weight: bold;
 }

 .sidebar_nav-link > div > p > em {
    color: #1d2484;
    font-size: 0.8em;
 }

 /*.link-hover:hover{
    position: absolute;width: 90%;height: 100%;background: #5893D4;opacity: 0.2;border-radius: 15px;left: 5%;
 }*/

 .sidebar_nav-link:hover {
    background: #5893D4;
    opacity: 0.2;
    border-radius: 15px;
  /*  background-image: url("../images/hover-bg.png");  */
 }

 .sidebar_nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }

 .sidebar_nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .logo {
    margin-top: 5em;
    width: 9.5em;
 }

 .docIcon{
     width:0.8em;
 }

 .upload{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 50px;
    /* left: 39px; */
    /* top: 987px; */
    /* right: 40px; */
    bottom: 15px;
    background: #F7B633;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    display: table;
}

.upload > span {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
}

.upload-icon{
    width: 22px;
    margin-right: 8px;
}

.files-text{
    color: rgba(255, 255, 255, 0.27);
    width: 56% !important;
    font-size: 12px;
}

.pdf-container{
    border: 2px dashed red;
    
    padding: 5px;

    width: 100%;
    height: 80vh;
    /* margin-left: 5em; */
    margin-top: 6em;
}

object{
    width: 100%;
    height: 100%;
}

.main-title{
    float: left;
    font-weight: bold;
    color: #2D1F3F;
    margin-bottom: 8px;
    margin-left: 5em;
    padding: 10px 5px 0px 5px;
    margin-top: 4em;
    
    width: 15em;
    display: flex;
    justify-content: center;
}

.main-title > img, .main-title > font{
    display: table-cell;
    vertical-align: middle;
    margin-right: 8px;
}

 @media (min-width: 42em) {
    .layout_content {
       margin-left: 4em;
    }
    
    /* Sidebar */
    .sidebar_trigger {
       width: 2em;
    }
    
    .sidebar_nav {
       width: 4em;
       left: 0;
    }
    
    .sidebar_nav:hover,
    .sidebar_nav:focus,
    .sidebar_trigger:hover + .sidebar_nav,
    .sidebar_trigger:focus + .sidebar_nav {
       width: 18em;
    }
 }

 @media (min-width: 68em) {
    .layout_content {
       margin-left: 18em;
    }
    
    /* Sidebar */
    .sidebar_trigger {
       display: none
    }
    
    .sidebar_nav {
       width: 18em;
    }
    
    .sidebar_nav ul {
       top: 7em;
       width: 18em;
    }

    .logo {
        margin-top: 3em;
        width: 9.5em;
    }

    .main-title{
        margin-top: 0px;
        justify-content: normal;
    }
    .pdf-container{
        width: 35em;
        height: 38em;
        margin-left: 5em;
        margin-top: 35px;
    }
 }